<h1>The Colorado Boys High School Volleyball Association is a Colorado non-profit corporation created, funded, and administered by volunteers for the express purpose of promoting and providing boys volleyball at the 300 high schools in the state of Colorado.</h1>
<% @news.each do |item| %>
    <p>
      <strong><%= item.title %></strong></br>
      <small><%= item.created_at.to_s(:long) %></small><br/>
      <%= item.body %>
    </p>
<% end %>
