<h1>CBHSVA</h1>
<% @news.each do |item| %>
    <p>
      <strong><%= item.title %></strong></br>
      <small><%= item.created_at.to_s(:long) %></small><br/>
      <%= item.body %>
    </p>
<% end %>
