<aside id="sidebar">
  <nav>
    <ul>
      <li class="home">
        <%= link_to 'Home', root_path, class: 'button' %>
      </li>
      <li class="newsletters">
        <%= link_to 'Newsletters', newsletters_url, class: 'button' %>
      </li>
      <li class="forms">
        <%= link_to 'Forms', forms_path, class: 'button' %>
      </li>
      <li>
        <% if admin_signed_in? %>
          <%= link_to 'News', news_index_path, class: 'button' %>
        <% end %>
      </li>
    </ul>
  </nav>
</aside>